{#
/**
 * @file
 * Theme override to display a Guest Suite establishment data block.
 *
 * Available variables:
 * - establishment:
 *   - establishment_name
 *   - establishment_address
 *   - establishment_zip
 *   - establishment_city
 *   - establishment_country
 *   - average_rate
 *   - total_reviews
 *   - average_ratings : contains categories of ratings and average rate for each of them
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
  <h3{{ title_attributes }}>{{ establishment.establishment_name }}</h3>
  <div>
    <p>{{ 'Average rate : @rate'|t({ '@rate': establishment.average_rate }) }}</p>
    <p>{{ 'Total reviews : @total'|t({ '@total': establishment.total_reviews }) }}</p>
  </div>
  <div>
    <p>{{ establishment.establishment_address }}</p>
    <p>{{ establishment.establishment_zip }}, {{ establishment.establishment_city }}</p>
    <p>{{ establishment.establishment_country }}</p>
  </div>
</div>
